<!DOCTYPE html>
<html>
    <head>
        <title>User login</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <div>
            <center>
                <span>Cadastrar usuáro</span><br>
                <input type="text" id="username" placeholder="username"><br><br>
                <input type="password" id="password" placeholder="password"><br><br>
                <button onClick="cadastrar()">Cadastrar</button>
            </center>
        </div>
        <script src="./js/action.js"></script>
    </body>
</html>